<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>jze_000.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_001.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 0}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_002.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{500, 0}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_003.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{750, 0}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_004.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1000, 0}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_005.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1250, 0}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_006.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1500, 0}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_007.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1750, 0}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_008.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 222}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_009.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 222}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_010.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{500, 222}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_011.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{750, 222}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_012.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1000, 222}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_013.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1250, 222}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_014.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1500, 222}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_015.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1750, 222}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_016.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 444}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_017.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 444}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_018.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{500, 444}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_019.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{750, 444}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_020.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1000, 444}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_021.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1250, 444}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_022.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1500, 444}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_023.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1750, 444}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_024.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 666}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_025.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 666}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_026.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{500, 666}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_027.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{750, 666}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_028.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1000, 666}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_029.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1250, 666}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_030.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1500, 666}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_031.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1750, 666}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_032.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 888}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_033.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 888}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_034.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{500, 888}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_035.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{750, 888}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_036.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1000, 888}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_037.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1250, 888}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_038.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1500, 888}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_039.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1750, 888}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_040.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1110}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_041.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 1110}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_042.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{500, 1110}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_043.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{750, 1110}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_044.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1000, 1110}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_045.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1250, 1110}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_046.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1500, 1110}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_047.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1750, 1110}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_048.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1332}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_049.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 1332}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_050.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{500, 1332}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_051.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{750, 1332}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_052.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1000, 1332}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_053.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1250, 1332}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_054.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1500, 1332}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_055.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1750, 1332}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_056.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1554}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_057.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 1554}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jze_058.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 222}</string>
			<key>spriteSourceSize</key>
			<string>{250, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{500, 1554}, {250, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>jze</string>
		<key>textureFileName</key>
		<string>ani_jze.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>